{% extends '/admin/admin_index.html.twig' %}
{% block style %}
    <style>
        ul > li {
            padding-right: unset!important;
        }
    </style
{% endblock %}
{% block body %}
    <div id="admin-categories"></div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/stop.png" style="width: 100%"><br>
                    <b>Внимание. При удалении категории вы удалите все подкатегории и товары, входящие в неё. Вы уверены что хотите продолжить?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="dismiss" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" id="accept">Да</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javasprict %}

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
        $.ajax({
            method: "POST",
            url: '/header_categories',
        })
            .done(function(msg) {
                let array = JSON.parse(msg);
                console.log(array);
                let parent = $('#admin-categories');
                Object.keys(array).forEach(function (key) {
                    callback_category(parent, array[key]);
                });
                function callback_category(element, category) {
                    let is_sub_exist = false;
                    if(category['sub'].length === undefined)
                        is_sub_exist = true;

                    let li = $('<li style="border: solid thin #dadada; list-style-type: none;"></li>').addClass('alert alert-light mb-2 pb-3');
                    let row = $('<div class="row"><div class="col-lg-10 col-md-8 col-sm-6"><a style="display: inline; text-overflow: ellipsis; overflow: visible;" href="/category'+category["link"]+'">'+category["name"]+'</a></div>"');
                    let col = $('<div class="col-lg-2 col-md-4 col-sm-6 text-right pr-3"></div>');
                    let div = $('<div></div>').addClass('dropdown');
                    div.append(' <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\n' +
                        '            Действия\n' +
                        '        </button>');
                    let links = $('<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">');

                    links.append('<a href="/adminPage/edit_category/'+category['id']+'"  class="dropdown-item">Редактировать категорию</a><a href="/adminPage/get_products_by_category/'+category['id']+'" class="dropdown-item">Показать товары</a>');
                    if(!category['has_products'] && !is_sub_exist )
                        links.append('<a href="/adminPage/add_product/'+category['id']+'"  class="dropdown-item">Добавить товар</a> <a href="/adminPage/add_sub_category/'+category['id']+'" class="dropdown-item">Добавить подкатегорию</a>');
                    else if(category['has_products'] && !is_sub_exist)
                        links.append('<a href="/adminPage/add_product/'+category['id']+'"  class="dropdown-item">Добавить товар</a>');
                    else
                        links.append('<a href="/adminPage/add_sub_category/'+category['id']+'" role="button" style="float: right; line-height: 1" class="dropdown-item">Добавить подкатегорию</a>');
                    links.append('<a href="/adminPage/delete_catego/'+category['id']+'"  class="dropdown-item delete-category">Удалить категорию</a>');


                    div.append(links);
                    col.append(div);
                    row.append(col);
                    li.append(row);

                    if(is_sub_exist){
                        let ul = $('<ul></ul>').addClass('my-3');
                        li.append(ul);
                        Object.keys(category['sub']).forEach(function (key) {
                            callback_category(ul, category['sub'][key]);
                        });
                    }
                    element.append(li);

                }
            });

            $(document).on('click', '.delete-category', function (e) {
                e.preventDefault();
                let link = $(this).attr('href');
                $('#exampleModalCenter').modal('show');
                document.getElementById('dismiss').onclick = function () {
                    $('#exampleModalCenter').modal('hide');
                };
                document.getElementById('accept').onclick = function () {
                    location.href = link;
                    $('#exampleModalCenter').modal('hide');
                };
            })
        });
    </script>
{% endblock %}