{% extends '/admin/admin_index.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'id': 'add_product_form'}}) }}
    {{ form_end(form) }}
{% endblock %}

{% block javasprict %}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('.summernote').summernote({
                height: 300,
                popover: {
                    image: [],
                    link: [],
                    air: []
                },
                codemirror: {
                    theme: 'paper'
                }
            });

            let div = $('<div></div>').addClass('form-group').html('<label for="first-specification">Характеристики</label> ' +
                '<div class="form-row"> <div class="col-3">Название</div> <div class="col-3">Единица измерения</div> <div class="col-3">Значение</div>' +
                '<div id="first-specification" class="form-row specification-row"> <div class="col-3"> <input type="text" class="form-control specification-name" placeholder="Название"> </div> <div class="col"> <input type="text" class="form-control specification-unit" placeholder="Единица измерения"> </div> <div class="col"> <input type="text" class="form-control specification-value" placeholder="Значение"> </div> <div class="col"><button type="button" class="btn btn-secondary add-specification">Добавить характеристику</button></div> </div>');
            $('#add_product_form_specification').after(div);

            $(document).on('click', '.add-specification', function () {
                $(this).closest('.form-row').after('<div class="form-row specification-row"> <div class="col-3"> <input type="text" class="form-control specification-name" placeholder="Название"> </div> <div class="col"> <input type="text" class="form-control specification-unit" placeholder="Единица измерения"> </div> <div class="col"> <input type="text" class="form-control specification-value" placeholder="Значение"> </div> <div class="col"><button type="button" class="btn btn-secondary add-specification">Добавить характеристику</button></div> </div>');
                $(this).removeClass('add-specification').addClass('remove-specification').html('Удалить характеристику');
            });
            $(document).on('click', '.remove-specification', function () {
                $(this).closest('.form-row').remove();
            });
            $(document).on('submit', '#add_product_form',function (e) {
                let specifications = $('.specification-row');
                let array = [];

                $(specifications).each(function (key) {
                    if($(this).find('.specification-name').val() !== "" && $(this).find('.specification-value').val() !== ""){
                        array[key] = [];
                        array[key][0] = $(this).find('.specification-name').val();
                        array[key][1] = $(this).find('.specification-unit').val();
                        array[key][2] = $(this).find('.specification-value').val();

                    }
                });
                $('#add_product_form_specification').val(JSON.stringify(array));
            })
        });
    </script>
{% endblock %}