{% extends 'admin/admin_index.html.twig' %}

{% block style %}
    <style>
        select.form-control:not([size]):not([multiple]) {
            height: auto!important;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {
            object-fit: contain;
            width: 75%;
            height: 75%;
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        #close {
            position: absolute;
            top: 15px;
            right: 35px;
            font-size: 50px;
            color: white;
            font-weight: bold;
            transition: 0.3s;
        }

        #close:hover,
        #close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div id="tegi"></div>
    {{ form_start(form, {'attr': {'id': 'edit_product_form'}}) }}

    {{ form_end(form) }}

    <div id="myModal" class="modal">
        <span id="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

{% endblock %}

{% block javasprict %}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

    <link href="/styles/magicsuggest-min.css" rel="stylesheet">
    <script src="/js/magicsuggest-min.js"></script>

<script>
    $(document).ready(function() {
        let tags = $('#tegi').magicSuggest({
            allowFreeEntries: false,
            data: [{"id":"Paris", "name":"Paris"}, {"id":"New York", "name":"New York"}]
        });
        tags.addToSelection([{"id":"Paris", "name":"Paris"}, {"id":"123", "name":"456"}]);

        $(tags).on('blur', function (c) {
            console.log(JSON.stringify(this.getValue()));
        });
        $('.summernote').summernote({
            height: 300,
            popover: {
                image: [],
                link: [],
                air: []
            },
            codemirror: {
                theme: 'paper'
            }
        });
        let array = JSON.parse($('#add_product_form_specification').val());
        let div = $('<div></div>').addClass('form-group').html('<label>Характеристики</label> ' +
            '<div class="form-row"> <div class="col-3">Название</div> <div class="col-3">Единица измерения</div> <div class="col-3">Значение</div>');
        Object.keys(array).forEach(function (key) {
            if(array[key]['unit'] === null)
                array[key]['unit'] = "";
            div.append('<div class="form-row specification-row"> <div class="col-3"> <input type="text" class="form-control specification-name" placeholder="Название" value="'+array[key]['name']+'"> </div> <div class="col"> <input type="text" class="form-control specification-unit" placeholder="Единица измерения" value="'+array[key]['unit']+'"> </div> <div class="col"> <input type="text" class="form-control specification-value" placeholder="Значение" value="'+array[key]['value']+'"> </div> <div class="col"><button type="button" class="btn btn-secondary remove-specification">Удалить характеристику</button></div> </div>');
        });
            div.append('<div id="first-specification" class="form-row specification-row"> <div class="col-3"> <input type="text" class="form-control specification-name" placeholder="Название"> </div> <div class="col"> <input type="text" class="form-control specification-unit" placeholder="Единица измерения"> </div> <div class="col"> <input type="text" class="form-control specification-value" placeholder="Значение"> </div> <div class="col"><button type="button" class="btn btn-secondary add-specification">Добавить характеристику</button></div> </div>');
        $('#add_product_form_specification').after(div);


        $(document).on('click', '.add-specification', function () {
            $(this).closest('.form-row').after('<div class="form-row specification-row"> <div class="col-3"> <input type="text" class="form-control specification-name" placeholder="Название"> </div> <div class="col"> <input type="text" class="form-control specification-unit" placeholder="Единица измерения"> </div> <div class="col"> <input type="text" class="form-control specification-value" placeholder="Значение"> </div> <div class="col"><button type="button" class="btn btn-secondary add-specification">Добавить характеристику</button></div> </div>');
            $(this).removeClass('add-specification').addClass('remove-specification').html('Удалить характеристику');
        });
        $(document).on('click', '.remove-specification', function () {
            $(this).closest('.form-row').remove();
        });
        $(document).on('submit', '#edit_product_form',function () {
            let specifications = $('.specification-row');
            let array = [];

            $(specifications).each(function (key) {
                if($(this).find('.specification-name').val() !== "" && $(this).find('.specification-value').val() !== ""){
                    array[key] = [];
                    array[key][0] = $(this).find('.specification-name').val();
                    array[key][1] = $(this).find('.specification-unit').val();
                    array[key][2] = $(this).find('.specification-value').val();

                }
            });
            $('#add_product_form_specification').val(JSON.stringify(array));
        });

        $(document).on('change','#add_product_form_images',function () {
            let array = Array.from($(this)[0].files);
            Object.keys(array).forEach(function (key) {
                console.log(array[key]['name']);
            })
        });

        {% if images.get(0).imagePath is defined %}
            let image = $('#add_product_form_images');
            let formgroup = $('<div class="form-group"><div>').append('<label class="required">Уже добавленные изображения</label>');
            let row = $('<div class="row"  style="margin-left: 0"></div>');
            console.log(row);
            {% for image in images %}
                row.append('<div class="col-2 has-image"><img  class="img-product" style="width: 100px; height: 100px; object-fit: contain; cursor: pointer" src="/images/{{ image.imagePath }}"><br><a class="delete-product-image" id="{{ image.id }}" style="text-decoration: underline; color: #4954ff; cursor: pointer">Удалить фото</a></div>');
            {% endfor %}
            formgroup.append(row);
            image.closest('.form-group').after(formgroup);


            $(document).on('click', '.delete-product-image', function () {
                let image = $(this);
                if($('.has-image').length === 1)
                    image.closest('.form-group').remove();
                else
                    image.closest('.has-image').remove();

                    // image.closest('.form-group').remove();
                $.ajax({
                    method: "GET",
                    url: "/adminPage/delete_product_image/"+image.attr('id')
                })
                    .done(function () {

                    })
                    .fail(function () {
                        alert("Error. Something went wrong.");
                    });
            });

            $(document).on('click', '.img-product',function () {
                $('#img01').attr('src', $(this).attr('src'));
                $('#myModal').show();
            });
            $(document).on('click', '#close',function () {
                $('#myModal').hide();
            });
        {% endif %}
    });
</script>

{% endblock %}

