@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.logo a {
		font-size: 40px!important;
	}
	.cat_menu_container
	{
		width: 211px!important;
		padding-left: 25px!important;
	}
	.main_nav_dropdown li
	{
		margin-right: 30px!important;
	}
	.main_nav_dropdown li a
	{
		font-size: 16px!important;
	}
	.char_item
	{
		padding-left: 25px!important;
	}
	.newsletter_form
	{
		width: 456px!important;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.fa-shopping-cart
	{
		font-size: 1em;
	}
	.header_search_results
	{
		top: unset!important;
	}
	.logo a {
		font-size: 50px!important;
	}
	.top_bar
	{
		/*display: none;*/
	}
	.header_search
	{
		height: 50px!important;
	}
	.custom_dropdown
	{
		text-align: left: !important;
	}
	.main_nav
	{
		margin-top: 56px!important;
	}
	.main_nav_menu
	{
		display: none!important;
	}
	.logo_container,
	.wishlist_cart
	{
		height: 125px!important;
	}
	.main_nav_content
	{
		background: #0e8ce4!important;
	}
	.menu_trigger_container
	{
		display: block!important;
	}
	.top_bar
	{
		height: 40px!important;
	}
	.top_bar_contact_item
	{
		font-size: 12px!important;
		margin-right: 20px!important;
		line-height: 40px!important;
	}
	.top_bar_contact_item a
	{
		font-size: 12px!important;
		line-height: 40px!important;
	}
	.top_bar_icon
	{
		margin-right: 4px!important;
	}
	.top_bar_icon img
	{
		width: 70% !important;
	}
	.top_bar_menu
	{
		display: none!important;
	}
	.top_bar_user a
	{
		font-size: 12px!important;
		line-height: 40px!important;
	}
	.user_icon
	{
		-webkit-transform: translateY(-1px) !important;
	    -moz-transform: translateY(-1px) !important;
	    -ms-transform: translateY(-1px) !important;
	    -o-transform: translateY(-1px) !important;
	    transform: translateY(-1px) !important;
	    width: 12px!important;
	}
	.cat_menu_container ul
	{
		visibility: hidden!important;
		opacity: 0!important;
	}
	.char_col:not(:last-child):not(:nth-child(3))
	{
		margin-bottom: 30px!important;
	}
	.char_item
	{
		padding-left: 36px!important;
	}
	.blog_post
	{
		width: calc((100% - 30px) / 2) !important;
	}
	.newsletter_title_container
	{
		width: 100% !important;
	}
	.newsletter_content
	{
		width: 100% !important;
		margin-top: 30px!important;
	}
	.newsletter_form
	{
		width: calc(100% - 114px) !important;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 40px!important;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.header_search
	{
		display: none!important;
	}
	.page_menu_search
	{
		display: block!important;
	}
	.main_nav
	{
		margin-top: 0px;
	}
	.char_col:nth-child(3)
	{
		margin-bottom: 30px!important;
	}
	.char_item
	{
		padding-left: 36px!important;
	}
	.blog_post
	{
		width: 100%!important;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2{font-size: 24px;!important;}
	p{font-size: 13px;!important;}
	.top_bar
	{
		display: none!important;
	}
	.fa-shopping-cart
	{
		font-size: 2em;
	}
	.logo_container, .wishlist_cart
	{
		height: 72px!important;
	}
	.logo a
	{
		font-size: 24px!important;
	}
	.cat_menu_container
	{
		width: auto!important;
		padding-right: 15px!important;
	}
	#footer_menu {
		display: none;
	}
	#logo_container {
		display: none;
	}
	#basket {
		display: none;
	}
	#resp_basket {
		display: inline-block!important;
		padding-left: 7rem;
	}
	#resp_logo {
		display: inline-block!important;
	}
	.basket_count {
		font-size: small!important;
		right: -14px!important;
		top: 18px!important;
	}
	.blog {
		padding-bottom: unset!important;
	}
	.cat_menu_text
	{
		font-size: 13px!important;
		margin-left: 12px!important;
	}
	.cat_burger
	{
	    width: 16px!important;
	    height: 12px!important;
	}
	.cat_burger span:nth-child(2)
	{
		top: 5px!important;
	}
	.cat_burger span:nth-child(3)
	{
		top: 10px!important;
	}
	.menu_trigger_text
	{
		font-size: 13px!important;
		margin-right: 10px!important;
	}
	.wishlist
	{
		margin-right: 23px!important;
	}
	.wishlist_content
	{
		margin-left: 6px!important;
	}
	.wishlist_text
	{
		display: none!important;
	}
	.cart_text
	{
		display: none!important;
	}
	.wishlist_text a,
	.cart_text a
	{
		font-size: 14px!important;
	}
	.wishlist_count,
	.cart_price
	{
		font-size: 12px!important;
	}
	.wishlist_icon
	{
		width: 20px!important;
	}
	.cart_content
	{
		margin-left: 18px!important;
	}
	.cart_icon
	{
		width: 17px!important;
	}
	.cart_count
	{
		width: 21px!important;
		height: 21px!important;
	}
	.cart_count span
	{
		line-height: 21px!important;
	}
	.top_bar_user
	{
		margin-left: 0px!important;
	}
	.header_search
	{
		display: none!important;
	}
	.main_nav
	{
		width: calc(100% - 30px) !important;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 0!important;
	}
	.main_nav_content
	{
		height: 35px!important;
	}
	.cat_menu_container
	{
		padding-left: 15px!important;
	}
	.menu_trigger_container
	{
		padding-right: 15px!important;
	}
	.cat_menu li
	{
		height: 36px!important;
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.cat_menu li a
	{
		font-size: 13px!important;
		line-height: 36px!important;
	}
	.cat_menu li ul
	{
		left: 50% !important;
		z-index: 10!important;
	}
	.page_menu_item > a
	{
		font-size: 12px!important;
	}
	.page_menu_selection li a
	{
		font-size: 12px!important;
	}
	.banner_product_image
	{
	    right: 15px!important;
	}
	.button
	{
		height: 32px!important;
	}
	.button a
	{
		font-size: 12px!important;
		line-height: 32px!important;
		padding-left: 25px!important;
		padding-right: 25px!important;
	}
	.rating_r i::before
	{
		font-size: 14px!important;
	}
	.blog_text
	{
		font-size: 16px!important;
	}
	.newsletter_form
	{
		float: none!important;
		width: 100% !important;
	}
	.newsletter_title_container
	{
		padding-left: 0px!important;
		text-align: content: '' !important;
	}
	.newsletter_unsubscribe_link
	{
		float: none!important;
		text-align: center!important;
		margin-top: 10px!important;
		height: auto!important;
	}
	.newsletter_unsubscribe_link a
	{
		line-height: 1!important;
	}
	.newsletter_title
	{
		font-size: 16px!important;
	}
	.newsletter_icon
	{
		position: relative!important;
		width: 40px!important;
		top: auto!important;
		-webkit-transform: translate(-50%, 0px) !important;
		-moz-transform: translate(-50%, 0px) !important;
		-ms-transform: translate(-50%, 0px) !important;
		-o-transform: translate(-50%, 0px) !important;
		transform: translate(-50%, 0px) !important;
		left: 50% !important;
		margin-bottom: 20px!important;
	}
	.newsletter_button
	{
		position: relative!important;
	    top: auto!important;
	    right: auto!important;
	    left: 50% !important;
	    -webkit-transform: translateX(-50%) !important;
	    -moz-transform: translateX(-50%) !important;
	    -ms-transform: translateX(-50%) !important;
	    -o-transform: translateX(-50%) !important;
	    transform: translateX(-50%) !important;
	    width: 113px!important;
	    height: 40px!important;
	    background: #0e8ce4!important;
	    color: #FFFFFF!important;
	    line-height: 40px!important;
	    font-size: 12px!important;
	    border: none!important;
	    outline: none!important;
	    border-top-right-radius: 5px!important;
	    border-bottom-right-radius: 5px!important;
	    border-top-left-radius: 5px!important;
	    border-bottom-left-radius: 5px!important;
	    cursor: pointer!important;
	    margin-top: 20px!important;
	}
	.newsletter_input
	{
		font-size: 13px!important;
		padding-left: 15px!important;
		height: 40px!important;
		line-height: 40px!important;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 13px!important;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 13px!important;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 13px!important;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 13px!important;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 13px!important;
	}
	.copyright_container
	{
		height: auto!important;
		padding-top: 30px!important;
		padding-bottom: 30px!important;
	}
	.logos
	{
		margin-top: 30px!important;
	}
	.logo a
	{
		font-size: 24px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	#resp_basket {
		padding-left: 4rem;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	#resp_basket {
		padding-left: 3rem;
	}
}

/************
15. 320px
************/

@media only screen and (max-width: 320px)
{
	#resp_basket {
		padding-left: 2rem;
	}
}