{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">


{% endblock %}

{% block body %}



<!--Main layout-->
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        {{ form_start(form) }}
        {{ form_end(form) }}

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <input type="text" id="firstName" class="form-control">
                                    <label for="firstName" class="">First name</label>
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--lastName-->
                                <div class="md-form">
                                    <input type="text" id="lastName" class="form-control">
                                    <label for="lastName" class="">Last name</label>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--email-->
                        <div class="md-form mb-5">
                            <input type="text" id="email" class="form-control" placeholder="youremail@example.com">
                            <label for="email" class="">Email</label>
                        </div>

                        <!--phone-->
                        <div class="md-form mb-5">
                            <input type="text" id="phone" class="form-control" placeholder="+38(050)">
                            <label for="phone" class="">Phone number</label>
                        </div>

                        <div class="d-block my-3">
                            <label>Shipping method</label>
                            <div class="custom-control custom-radio">
                                <input id="ukrposhta" name="shippingMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="ukrposhta">Ukrposhta</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="novaposhta" name="shippingMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="novaposhta">Novaposhta</label>
                            </div>
                        </div>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Oblast'</label>
                                <select class="custom-select d-block w-100" id="oblast" required>
                                    <option value="">Choose...</option>
                                    <option>Kyivska</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid oblast'.
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="state">City</label>
                                <select class="custom-select d-block w-100" id="city" required>
                                    <option value="">Choose...</option>
                                    <option>Kyiv</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <label for="zip">Zip-code</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <hr>

                        <div class="d-block my-3">
                            <label>Chehlist' babos method</label>
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="nalichka" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="nalichka">Nalichka</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                    </form>

            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#header_dropdown').hide();
            $(document).on('change','#checkout_form_type',function () {
                if ($("#checkout_form_city" ).length)
                    $("#checkout_form_city").closest('.form-group').remove();
                if ($("#checkout_form_post" ).length)
                    $('#checkout_form_post').closest('.form-group').remove();
                let element = $(this);
                if(Number($(this).val()) === 1){
                    element.closest('.form-group').append('Тут будет адрес самовывоза');
                }
                if(Number($(this).val()) === 2){
                    $.ajax({
                        method: "POST",
                        url: '/post_offices',
                    })
                        .done(function(posts) {
                            let array = JSON.parse(posts);
                            let cities = $('<div></div>').addClass('form-group').append('<label class="required" for="checkout_form_city">Населенный пункт</label>');
                            let select = $('<select required></select>').addClass('form-control').attr('id', 'checkout_form_city');
                            select.append('<option disabled selected value> Выберите населенный пункт </option>');

                            Object.keys(array).forEach(function (key) {
                                select.append('<option value="'+key+'">'+array[key]['city']+'</option>')
                            });
                            cities.append(select);
                            element.closest('.form-group').after(cities);
                            $('#checkout_form_city').chosen();

                            $(document).on('change','#checkout_form_city',function () {
                                if ($("#checkout_form_post" ).length)
                                    $('#checkout_form_post').closest('.form-group').remove();
                                let element = $(this);
                                let cities = $('<div></div>').addClass('form-group').append('<label class="required" for="checkout_form_post">Отделение</label>');
                                let select = $('<select required></select>').addClass('form-control').attr('id', 'checkout_form_post');
                                select.append('<option disabled selected value> Выберите отделение </option>');
                                Object.keys(array[element.val()]['post_offices']).forEach(function (key) {
                                    select.append('<option value="'+key+'">Отделение № '+array[element.val()]['post_offices'][key]['number']+' , '+array[element.val()]['post_offices'][key]['address']+'</option>')
                                });
                                cities.append(select);

                                element.closest('.form-group').after(cities);
                                $('#checkout_form_post').chosen();
                                $(document).on('change','#checkout_form_post',function () {
                                    $('#checkout_form_data').val($("#checkout_form_post option:selected").text());
                                })
                            });
                        });
                }
            })

        })
    </script>
{% endblock %}
