<div class="top_bar_contact_item">
    <div class="top_bar_icon"><i class="fas fa-phone"></i></div><a href="tel:{{ phone }}">{{ phone }}</a>
</div>
<div class="top_bar_contact_item">
    <div class="top_bar_icon"><i class="fas fa-home"></i></div><a href="https://www.google.com/maps/place/{{ address }}">{{ address }}</a>
</div>