<div class="nav justify-content-around">
    <div class=" nav-item menu_contact_item m-0">
        <div class="menu_contact_icon"><i class="fas fa-phone"></i></div><a href="tel:{{ phone }}">{{ phone }}</a>
    </div>
    <div class="nav-item menu_contact_item m-0">
        <div class="menu_contact_icon"><i class="fas fa-envelope"></i></div><a href="mailto:{{ mail }}">{{ mail }}</a>
    </div>
</div>