<div class="menu_contact">
    <div class="menu_contact_item">
        <div class="menu_contact_icon"><i class="fas fa-phone"></i></div>{{ phone }}
    </div>
    <div class="menu_contact_item">
        <div class="menu_contact_icon"><i class="fas fa-envelope"></i></div><a href="mailto:{{ mail }}">{{ mail }}</a>
    </div>
</div>